OPENAI_API_KEY=
COHERE_API_KEY=

QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=ProductosConfe

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

FASTAPI_HOST=
FASTAPI_PORT=
